.about-me-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  scroll-margin-top: 46px;
}

.about-me-title {
  color: var(--title-text-color);
  font-size: var(--title-text-size);
  font-weight: var(--title-text-weight);
  font-family: var(--font-family);
  text-shadow: 2px 1px 2px black;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--body-text-color);
}

.about-me-updated {
  color: var(--subtitle-text-color);
  font-size: var(--subtitle-text-size);
  font-weight: var(--subtitle-text-weight);
  font-family: var(--font-family);
  padding-bottom: 1rem;
}

.about-me-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-me-text-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Media query to make the flexbox responsive */
@media screen and (max-width: 550px) {
  .about-me-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.about-me-description {
  font-family: var(--font-family);
  color: var(--body-text-color);
  font-size: var(--body-text-size);
  font-weight: var(--body-text-weight);
  padding: 1rem;
  line-height: 2rem;
  max-width: 50vw;
}

/* Media query to make the description responsive */
@media screen and (max-width: 1000px) {
  .about-me-description {
    max-width: 100%;
    padding: 1rem 0;
  }
}

.about-me-description > p {
  margin-top: 0;
}

.about-me-description > p:nth-child(2) {
  margin: 0;
}
