.icons-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
}

@media screen and (max-width: 300px) {
  .icons-div {
    padding: 0;
  }
}

.icon-style {
  display: flex;
  font-size: 3em;
  color: var(--body-text-color);
  background-color: transparent;
  font-family: var(--font-family);
  transition: all 0.2s ease-in-out;
  margin: 0 1em;
}

.icon-style:hover {
  color: var(--title-text-color);
  transform: scale(1.2);
}

.icon-style:focus-visible {
  color: var(--title-text-color);
  transform: scale(1.2);
}

@media screen and (max-width: 1000px) {
  .icons-div {
    padding: 0.5em;
  }

  .icon-style {
    margin: 0;
  }
}
