.parent-container {
  display: block;
}

.children-container {
  opacity: 0;
  margin: 0 5rem;
}

.transition-animation {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .children-container {
    margin: unset;
  }
}
