:root {
  --big-text-color: #8bffa4;
  --big-text-size: 48px;
  --big-text-weight: 700;
  --title-text-color: #ef946c;
  --title-text-size: 32px;
  --title-text-weight: 700;
  --subtitle-text-color: #a6b39d;
  --subtitle-text-size: 16px;
  --subtitle-text-weight: 300;
  --body-text-color: #cecece;
  --body-text-size: 20px;
  --body-text-weight: 400;
  --hover-text-color: #54b3d6;
  --underline-text-color: #0087ca;
  --font-family: var(--font-unbounded), "Unbounded", Arial, sans-serif;
  --nav-background: rgb(70, 55, 47, 0.9);
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--nav-background);
  background-image: linear-gradient(
    rgba(47, 62, 70, 1) 0%,
    rgba(239, 148, 108, 1) 100%
  );
}

body {
  min-height: 100vh;
  margin: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

a:focus-visible {
  outline: 2px solid white;
  border-radius: 4px;
}

a.hover-underline-animation {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

a.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--hover-text-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
