@import "./global.css";

.about-me-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.about-me-title {
  color: var(--title-text-color);
  font-size: var(--title-text-size);
  font-weight: 700;
  font-family: "Asap";
}

.about-me-description {
  font-family: "Spinnaker";
  color: var(--subtitle-text-color);
  font-size: var(--subtitle-text-size);
}
