.footer {
  margin: 0 auto;
  width: 100vw;
}
@media screen and (max-width: 1000px) {
  .footer {
    margin: 0 0.5em;
    width: 95%;
  }
}

.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.footer-link {
  color: whitesmoke;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: var(--subtitle-text-weight);
  text-decoration: none;
}
.footer-icon {
  font-size: 16px;
  padding: 0 1em;
  color: whitesmoke;
  background-color: transparent;
  font-family: var(--font-family);
  transition: all 0.2s ease-in-out;
}
