.gallery-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1rem 1rem 1rem;
  scroll-margin-top: 60px;
}

.gallery-heading {
  color: var(--title-text-color);
  font-size: var(--title-text-size);
  font-weight: var(--title-text-weight);
  font-family: var(--font-family);
  text-shadow: 2px 1px 2px black;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--body-text-color);
}

.gallery-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.gallery-image-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 1.5;
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(5px 5px 4px black);
  transition: opacity 1s ease-in-out;
}

.gallery-image-visible {
  opacity: 1;
  z-index: 1;
}

.gallery-image-hidden {
  opacity: 0;
  z-index: 0;
}
