:root {
  --big-text-color: #84a98c;
  --big-text-size: 48px;
  --title-text-color: #ef946c;
  --title-text-size: 32px;
  --subtitle-text-color: #cad2c5;
  --subtitle-text-size: 20px;
  --hover-text-color: #54b3d6;
  --underline-text-color: #0087ca;
  --title-font-family: "Asap", Arial, sans-serif;
  --subtitle-font-family: "Spinnaker", Arial, sans-serif;
  --big-font-family: "Exo", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  height: auto;
}

body {
  display: flex;
  margin: 0;
  overflow-x: hidden;
  width: auto;
  height: auto;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overscroll-behavior: none;
  background-image: linear-gradient(
    rgba(47, 62, 70, 1) 0%,
    rgba(239, 148, 108, 1) 100%
  );
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--title-text-color);
  text-decoration: none;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--hover-text-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
