.icons-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  max-width: fit-content;
}

@media screen and (max-width: 1000px) {
  .icons-div {
    justify-content: space-evenly;
    padding: 2em;
  }
}

.icon-style {
  display: flex;
  font-size: 3em;
  color: var(--subtitle-text-color);
  background-color: transparent;
  font-family: var(--font-family);
  transition: all 0.2s ease-in-out;
  margin: 0 1em;
}

.icon-style:hover {
  color: var(--title-text-color);
  transform: scale(1.2);
}

.icon-style:focus-visible {
  color: var(--title-text-color);
  transform: scale(1.2);
}
