.last-fm-div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 1rem;
}

.last-fm-text {
  font-family: var(--font-family);
  color: var(--subtitle-text-color);
  font-size: var(--subtitle-text-size);
  max-width: 300px;
}

.last-fm-image-div {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.last-fm-image {
  height: 300px;
  width: 300px;
  filter: drop-shadow(5px 5px 4px black);
}

@media screen and (max-width: 800px) {
  .last-fm-image {
    height: 174px;
    width: 174px;
  }
}
