.parent-container {
  display: inline-block;
}

.children-container {
  margin: 0 5em;
  display: inline-block;
}

@media screen and (max-width: 1000px) {
  .children-container {
    margin: 0 auto;
  }
}
