@import "./global.css";

body {
  background-color: #2f3e46;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: flex;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-inline-start: 0rem;
}

.nav-link-item {
  padding-right: 1rem;
}

.nav-link-text {
  color: var(--subtitle-text-color);
  font-size: var(--subtitle-text-size);
  font-family: "Spinnaker";
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #54b3d6;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-link-text:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}
