.nav-box {
  background: var(--nav-background);
  backdrop-filter: blur(8px);
  padding: 0.1em 0;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-inline-start: 2em;
}

@media screen and (max-width: 800px) {
  .nav-links {
    opacity: 0;
  }
}

/* Start div offscreen */
.burger-div {
  position: absolute;
  top: 51px;
  left: -100px;
  max-width: 0;
  height: 100vh;
  overflow: hidden;
  background-color: var(--nav-background);
  backdrop-filter: blur(8px);
  transition: all 0.4s ease-in-out;
  list-style: none;
  padding-inline-start: 0;
}

.burger-div-slide {
  max-width: 40vw;
  left: 0px;
}

.burger-div > li {
  padding: 1em;
  text-align: center;
}

.burger-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2em;
  padding: 0.5em;
  color: var(--subtitle-text-color);
  background-color: transparent;
}

@media screen and (max-width: 1000px) {
  .nav-links {
    padding-inline-start: 1em;
  }
}
