.not-found-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  height: 100%;
}

.not-found-heading {
  font-size: var(--big-text-size);
  color: var(--big-text-color);
  font-weight: var(--big-text-weight);
  font-family: var(--font-family);
  font-style: italic;
  text-shadow: 2px 0 #84a98c;
  letter-spacing: 1.5px;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.not-found-paragraph {
  font-family: var(--font-family);
  color: var(--subtitle-text-color);
  font-size: var(--subtitle-text-size);
}

.not-found-link-text {
  text-decoration: none;
  color: var(--title-text-color);
}
