@import "./global.module.css";

.resume-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.resume-header {
  color: var(--title-text-color);
  font-size: var(--title-text-size);
  font-weight: 700;
  font-family: "Asap";
  text-shadow: 2px 1px 2px black;
}

.resume-job-list {
  font-family: "Spinnaker";
  color: var(--subtitle-text-color);
  font-size: var(--subtitle-text-size);
}
