.resume-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  scroll-margin-top: 80px;
}

.resume-header {
  color: var(--title-text-color);
  font-size: var(--title-text-size);
  font-weight: 700;
  font-family: var(--font-family);
  text-shadow: 2px 1px 2px black;
  padding-bottom: 1rem;
  margin: 0;
  border-bottom: 1px solid var(--body-text-color);
}

.resume-job-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: var(--font-family);
  color: var(--body-text-color);
  font-size: var(--body-text-size);
  padding: 1rem;
}

@media screen and (max-width: 1000px) {
  .resume-job-list {
    padding: 1rem 0;
  }
}
