.resume-job-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--font-family);
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--body-text-color);
}

.resume-job-item:last-of-type {
  border-bottom: none;
}

@media screen and (max-width: 1000px) {
  .resume-job-item {
    flex-direction: column;
  }
}

.resume-job-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
  background-color: transparent;
  border-radius: 4px;
  line-height: 2rem;
}

.resume-job-title {
  color: var(--body-text-color);
  font-family: var(--font-family);
}

.resume-job-company {
  color: var(--big-text-color);
  font-size: var(--title-text-size);
  font-family: var(--font-family);
  font-weight: var(--title-text-weight);
  text-decoration: none;
  width: fit-content;
  margin: 0.5em 0;
}

.resume-job-description-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40vw;
  font-family: var(--font-family);
}

@media screen and (max-width: 1000px) {
  .resume-job-description-item {
    max-width: 100%;
  }
}

.resume-job-description-item > ul > li {
  line-height: 2rem;
}
