.title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

@media screen and (max-width: 1000px) {
  .title-div {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.title-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 50em;
}

.title-heading {
  font-size: var(--big-text-size);
  font-family: var(--font-family);
  font-weight: var(--big-text-weight);
  color: var(--big-text-color);
  text-shadow: 2px 1px black;
  padding-bottom: 0.5rem;
}

.title-sub-heading {
  color: var(--title-text-color);
  font-size: var(--title-text-size);
  font-weight: var(--title-text-weight);
  font-family: var(--font-family);
  text-shadow: 2px 1px 2px black;
}

.title-description {
  color: var(--subtitle-text-color);
  font-size: var(--subtitle-text-size);
  font-family: var(--font-family);
}

.title-image-div {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  background: transparent;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.title-image {
  max-width: 30rem;
  object-fit: cover;
  filter: drop-shadow(20px 20px 4px var(--title-text-color));
}
