@import "./global.css";

.title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .title-div {
    flex-direction: column;
  }
}

.title-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.title-heading {
  font-size: 48px;
  font-family: "Exo";
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 0 #84a98c;
  letter-spacing: 1.5px;
  color: #84a98c;
  padding-bottom: 0.5rem;
}

.title-sub-heading {
  color: var(--title-text-color);
  font-size: var(--title-text-size);
  font-weight: 700;
  font-family: "Asap";
}

.title-description {
  color: var(--subtitle-text-color);
  font-size: var(--subtitle-text-size);
  font-family: "Spinnaker";
  max-width: 500px;
}

.title-description > a {
  color: var(--subtitle-text-color);
}

.title-image {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  background: transparent;
}
